@charset "UTF-8";

.facebook {
    position: relative;
    box-sizing: border-box;
    padding: 1px 8px 1px 6px;
    background-color: #3B5998;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    width: 230px;
    height: 40px;
    letter-spacing: .25px;
}

.twitter {
    position: relative;
    box-sizing: border-box;
    padding: 1px 8px 1px 6px;
    background-color: #1b95e0;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    width: 230px;
    height: 40px;
    letter-spacing: .25px;
}

.google {
    position: relative;
    box-sizing: border-box;
    padding: 1px 8px 1px 6px;
    background-color: #dd4b39;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    width: 230px;
    height: 40px;
    letter-spacing: .25px;
}

/**
 * swiper.js
 */
.swiper-container {
    width: 300px;
    height: auto;
    overflow: visible;
    z-index: 1;
}

.swiper-button-prev,
.swiper-button-next {
    fill: #fff;
    stroke: none;
    stroke-width: 0;
    z-index: 10000;
    width: 30px;
    margin-top: -18px;
    background-image: none;
}

.swiper-pagination-bullet-active {
    background: #fff;
}

@media (min-width: 768px) {
    .swiper-button-prev,
    .swiper-button-next {
        width: auto;
        margin-top: -22px;
    }
}

a.disabled {
    pointer-events: none;
    color: #beb7b4;
}

#search-area {
    position: relative;
    max-width: 700px;
    margin:0 auto; 
	text-align:center;
    z-index: 0;
}

#category_id {
    width: 150px;
    height: 40px;
    margin: 0px 0px 20px 0px;
    display:inline-block;
    vertical-align: middle;
    border-radius: 10px 0px;
    z-index: 2;	
}

#search_text {
    width: 300px;
    height: 40px;
    margin: 0px -6px 20px -6px;
    display: inline-block;
    vertical-align: middle;
    z-index: 1;
}

#search_Button {
    width: 40px;
    height: 40px;
    margin: 0px 0px 20px 0px;
    display: inline-block;
    vertical-align: middle;
    z-index: 2;
}

#content_wrapper {
    max-width: 945px;
}

#item_content {
    font-size: 0;
}

#item_content a {
    text-decoration: none;
}

#item_content li {
    display: inline-block;
    font-size: 16px;
    width: calc(100% / 5);
    margin: 10px;
}

#item_content li img {
    width: 100%;
    height: 100%;
}

.product_name {
    line-height: 1.25!important;
}

.a-text-bold {
    font-weight: 700!important;
}

.a-color-price {
    color: #B12704!important;
}

#user {
    background-color: #36618a;
}

#admin {
    background-color: #368a6e;
}

.navbar-default .navbar-brand {
    color: #FFF;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
    color: #FFF;
}

.button {
    display: block;
    max-width: 300px;
    height: 40px;
    padding: 10px;
    
    background: #e7e9ec;

    border-color: #adb1b8 #a2a6ac #8d9096;
    
    /* テキスト */
    font-size: 14px;
    color: black;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 3px #e7e9ec;

    /* 角丸 */
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;

    /* ドロップシャドウ */
    box-shadow: 0 3px 5px 0 #e7e9ec;
    -webkit-box-shadow: 0 3px 5px 0 #e7e9ec;
    -moz-box-shadow: 0 3px 5px 0 #e7e9ec;
}

.transition a:hover {
    color: black;
    background-color: #e7e9ec;
    border-color: #adb1b8 #a2a6ac #8d9096;
    text-decoration: none;
}

#enclosure {
    display: block;
    border: 1px #ddd solid;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

#recent {
    max-width: 945px;
}